{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row container center-top">
  <h1>Побольше о технологиях</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-6">
    <h3 class="h3">BackEnd:</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python, сейчас использую версию 3.10.4
      </li>
      <li class="list-group-item">
        Django, проект построен на версии 4.0.5.
      </li>
      <li class="list-group-item">
        Тестирование - pytest==6.2.4, pytest-django==4.4.0, pytest-pythonpath==0.7.3
      </li>
      <li class="list-group-item">
        Поддержка медиа - Pillow==9.0.0
      </li>
      <li class="list-group-item">
        SQL - тестовая версия MySQL, на сервере PostgreSQL
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-6">
    <h3 class="h3">FrontEnd:</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        HTML:5
      </li>
      <li class="list-group-item">
        CSS
      </li>
    </ul>
  </article>
</div>
{% endblock %} 