{% extends 'base.html' %}
  {% load thumbnail %}

  {% block title %} 
    Последние обновления от Интересных авторов:
  {% endblock title %}

  {% block content %}
    <div class="container py-5">     
      <h1>Последние посты от интересных авторов:</h1>
      {% if page_obj.has_other_pages %}
        {% include 'posts/includes/paginator.html' %}
      {% endif %}
      {% include 'posts/includes/switcher.html' %}
      {% include 'posts/includes/index_page.html' %}
      {% if page_obj.has_other_pages %}
        {% include 'posts/includes/paginator.html' %}
      {% endif %}
  </div> 
  {% endblock %} 
